/node_modules
/public/css
/public/js
/public/fonts
/public/images
/public/storage
/public/gfx
/public/vendors~js
/public/build
/public/hot
/storage/*.key
/storage/framework/views/*.php
/vendor
/.vagrant
Homestead.json
Homestead.yaml
+npm-debug.log
+yarn-error.log
.env
.env.testing
.phpunit.result.cache
/doc
phpdoc.xml
.php_cs.cache
npm-debug.log
*.env
.env.backup
mix-manifest.json
scan_code.bat
/storage/xml
/storage/*.xml
/storage/app/pim/xml
/storage/app/pim/xml/*.xml
_gsdata_
_gsdata_/*
public/import/
public/mix-manifest.json
/.rnd
/.idea
/.idea/file.template.settings.xml
/storage/api-docs
/storage/api-docs/*.json
/app/custom
/.vscode
auth.json
yarn-error.log
.npmrc
